body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    /* font-family: Arial, sans-serif; */
}

body {
    font-family: "Source Sans 3", sans-serif;
}

.top-section-wrapper {
    overflow: hidden;
    background-color: #001D37;
    padding-left: 16px;
    padding-right: 16px;
}

.top-section {
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1066px;
    margin: 0 auto;
    position: relative;
    /* text-align: center; */
}

.actual-top-content {
    z-index: 2;
    position: relative;
}

.top-section h1 {
    font-size: 4rem; /* 64px/16 = 4rem */
    margin: 0;
    line-height: 97.3%;
    max-width: 525px;
}

.intro-text {
    font-size: 1.25rem; /* 20px/16 = 1.25rem */;
    line-height: 169.3%;
    margin: 1rem 0;
    max-width: 435px;
}

.intro-buttons {
    margin-bottom: 70px;
}

.our-btn {
    display: inline-block;
    font-size: 1.125rem; /* 18px/16 = 1.125rem */
    font-weight: 600;
    background-color: #475AFF;
    border: 2px solid #475AFF;
    color : white;
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 1000px;
    transition: background-color 0.3s ease-out, border 0.3s ease-out, color 0.3s ease-out;
}

.our-btn:hover {
    background-color: #2E40E2;
    border: 2px solid #2E40E2;
}

.utility-mr {
    margin-right: 10px;
}

.our-btn--outline {
    background-color: transparent;
    border: 2px solid white;
}

.our-btn--outline:hover {
    background-color: white;
    color: #475AFF;
    border: 2px solid white;
}

.intro-feature{
    padding: 33px 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.intro-feature p { 
    margin: 0;
    font-size: 1.0625rem; /* 17px/16 = 1.0625rem */;
}

.intro-features {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
}

/* Small screens กว้างน้อยกว่า 580px ใช้คอลัมน์เดียว */
/* Medium screens and up กว้างตั้งแต่ 580px ใช้ 2 คอลัมน์ */
@media screen and (min-width: 580px) {
    .intro-features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
    }
}

/* Large screens and up กว้างตั้งแต่ 900px ใช้ 4 คอลัมน์ */
@media screen and (min-width: 900px) {
    .intro-features {
        grid-template-columns: repeat(4, 1fr);
    }
}

.circle {
    width: 617px;
    height: 617px;
    background: #D660FF;
    border-radius: 50%;
    opacity: .85;
    filter: blur(150px);
    position: absolute;
    top: 155px;
    right: -400px;
}


.circle-two {
    width: 617px;
    height: 617px;
    background: #6079FF;
    border-radius: 50%;
    opacity: .85;
    filter: blur(150px);
    position: absolute;
    top: -117px;
    left: 0px;
}

.page-section {
    background-color: #FFF;
    padding: 70px 16px;
}

.page-section-inner {
    max-width: 1066px;
    margin: 0 auto;
}

.page-section-title {
    font-size: 4rem;
    margin: 0;
    line-height: 1;
}

.pet-filter {
    color: #9F9F9F;
    font-size: 1.1rem;
}

.pet-filter button {
    background-color: transparent;
    border: none;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.1rem;
    color : #9F9F9F;
}

.site-footer p {
    text-align: center;
    color: #A6A6A6;
    font-size: 0.875rem;
    padding: 0 0 65 0;
}

.list-of-pets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    column-gap: 34px; /* ระยะห่างระหว่างคอลัมน์ */
    row-gap: 16px; /* ระยะห่างระหว่างแถว */
}

.pet-card {
    overflow: hidden; /* ซ่อนส่วนที่เกินของลูกศรโค้ง */
    display: grid;
    grid-template-columns: 165px 1fr;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.pet-card-photo {
    order: 1;
    grid-row: 1; /* ให้รูปภาพอยู่แถวที่ 1 */
}

.pet-card-photo img {
    width: 100%;
    height: 100%;
    display: block; /*ลบช่องว่างล่างรูปภาพ */
    object-fit: cover; /*ทำให้รูปเต็มพื้นที่โดยไม่ผิดสัดส่วน */
}

.pet-card-text {
    padding: 18px 16px; /* top/bottom left/right */
}

.pet-card-text h3 {
    margin: 0 0 5px 0; /* top right bottom left */
    font-size: 1.625rem;
    font-weight: 600;
}

.pet-description {
    font-size: .9rem;
    margin: 0 0 1rem 0;
    color: #626262;
    line-height: 150%;
}

.pet-age {
    margin: 0;
    font-size: 0.85rem;
    color: #A2A2A2;
}

@media screen and (min-width: 600px) {
    .pet-description {
        font-size: 1rem;
    }
    .pet-card-text {
        padding: 21px 29px; /* top/bottom left/right */
    }
    .list-of-pets {
        row-gap: 28px; /* ระยะห่างระหว่างแถว */
    }
    .pet-filter {
        color: #9F9F9F;
        font-size: 1.375rem;
    }
    .pet-filter button {
        background-color: transparent;
        border: none;
        font-family: "Source Sans 3", sans-serif;
        font-size: 1.375rem;
        color : #9F9F9F;
    }
    .page-section-title {
        font-size: 5.31rem;
        margin: 0;
        line-height: 1;
    }
    .page-section {
        background-color: #FFF;
        padding: 155px 16px;
    }
    .intro-buttons {
        margin-bottom: 129px;
    }

    .top-section h1 {
        font-size: 6.25rem; /* 100px/16 = 6.25rem */
    }

    .top-section {
        padding-top: 139px;
        padding-bottom: 139px;
    }
}